section.github{
    max-width:100%;
    height: 100vh;
    background-color: #584f55;
    }
section.github .header{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align:center;
    color:#bb9fbd;
    font-size:18px;
    border-bottom: 2px solid #5a4057;
}
section.github .container{
    display:flex;
    align-items: center;
    margin-top: 50px;
    margin-left:110px;
}
section.github .container .git{
    width:335px;
}
section.github .container .git a{
    text-decoration: none;
    color:#bb9fbd;
}
section.github .container .git p{
    margin-left: 55px;
    margin-right:0;
    color:#bb9fbd;
    font-size:16px;
}
section.github .container .git img{
    width:65%;
    margin-top:60px;
    margin-left:50px;
    border-radius: 25px;
  
}
section.github .container .repositorios{
    margin-top: 65px;
    line-height: 25px;
    color:#fff;
}
section.github .container .repositorios ul{
    list-style: none;
    background-color: #3a3b3b;
    line-height: 40px;
    border-radius: 5px;
    display:flex;
    margin-bottom:16px;
    padding:0;
}
section.github .container .repositorios ul li{
    width:700px;
    align-items: center;
    text-align:center;
}