
header{
    border-bottom: 2px solid #3a3b3b;
    background-color: #102;
}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}
header .logo img{
    width:45%
}
header .menu ul{
    display: inline-block;
     
}
header .menu ul a{
    text-decoration: none;
    font-weight:500;
    color:#bb9fbd;
    font-size:16px;
}
header .menu ul a:hover{
    color:#a558ac;
}
header .menu ul a:visited{
    color:#fff;
}
header .menu li{
    list-style: none;
   
}